<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<style>
	.bgNavigation{
		background-image: url('/resources/img/aboutus/timgb.jpg');

	}
	#intro{
		height: auto;
		padding: 20% 0 0 0;
		background-attachment: fixed;
	}
	.home-section{
		padding-top: 0;
	}
    #zoomOut{
        height: 12em;
        width: 80%;
        object-fit: cover;
        border-radius: 5px;
    }
    #zoomOut:hover{

    }
	#layer-photos img{
		height: auto;
	}


</style>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<div th:replace="fragments/navigation :: navigation"></div>
    <section  class=" bgNavigation"  ></section>
	<div class="container">
		<p>
			<blockquote class="layui-elem-quote">
				<span class="layui-breadcrumb">
					<a href="/product">产品中心</a>
					<th:block  th:each="datas,stat:${articleList}">
						<a><cite th:text="${datas?.shortTitle}"></cite></a>
					</th:block>
				</span>
			</blockquote>
		</p>

	</div>
    <section id="about2" class="home-section " >
		<div class="container" >
			<div  class="col-xs-12 col-sm-12 col-md-12" >
				<div class="layui-tab layui-tab-brief" id="layer-photos " lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<th:block  th:each="datas,stat:${articleList}">
							<th:block th:if="${stat?.index==0}">
								<li  class="layui-this" th:text="${datas?.shortTitle}"></li>
							</th:block>
							<th:block th:if="${stat?.index!=0}">
								<li th:text="${datas?.shortTitle}"></li>
							</th:block>
						</th:block>
					</ul>
					<div class="layui-tab-content">
						<th:block  th:each="datas,stat:${articleList}">
							<th:block th:if="${stat?.index==0}">
								<div class="layui-tab-item layui-show"  th:utext="${datas?.content}"></div>
							</th:block>
							<th:block th:if="${stat?.index!=0}">
								<div class="layui-tab-item "  th:utext="${datas?.content}"></div>
							</th:block>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</section>



	<div>
		<footer th:replace="fragments/footerPage :: footerPage"></footer>
	</div>

</body>

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
	layui.use(['element', 'layer'] , function(){
		var element = layui.element
				,layer = layui.layer;
		layer.photos({
			photos: '#layer-photos'
			,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		});
    });


</script>

</html>
