<div  th:fragment="ChatFooter"  xmlns:th="http://www.thymeleaf.org"  >
    <script src="/resources/layui/layui.js"></script>
    <script src="/resources/js/jquery.min.js"></script>
    <script src="http://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<!--    <script src="/resources/plugin/videojs/flv.min.js"></script>-->
<!--    <script src="/resources/plugin/videojs/hls.min.js"></script>-->

    <script src="/resources/plugin/videojs/mui-player.min.js"></script>
    <script src="/resources/plugin/videojs/mui-player-desktop-plugin.min.js"></script>
    <script src="/resources/plugin/videojs/mui-player-mobile-plugin.min.js"></script>

    <script src="/resources/js/ajaxHandle.js"></script>
    <script src="/resources/js/kefu.js"></script>

    <script	src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</div>
