<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.web.mapper.ProblemMapper">


    <select id="queryAll" resultType="com.web.model.Problem">
        select * from question
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(title,'')
                ,IFNULL(content,'')
               )
                like concat('%', #{keyWord}, '%')
            </if>
            and status =1
        </where>
        order by createTime desc


    </select>
</mapper>

